<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WeatherApp</title>
    <style>
      * {
        margin: 0;
        font-family: "Courier New", Courier, monospace;
        box-sizing: border-box;
      }
      main {
        text-align: center;
        padding-top: 50px;
      }
    </style>
  </head>
  <body>
    <div class="main">
      <h1>Find the Weather</h1>
      <form method="GET">
        <label for="city"></label>
        <input
          type="text"
          name="city"
          id="city"
          placeholder="Enter your city"
        />
        <input type="submit" value="submit" />
      </form>
    </div>
  </body>
</html>
